<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>
<body>
{% extends "base.html" %}
{% load static %}
{% block content %}
{% spaceless %}

<div class="article-block">
    <li><a href="/">Головна сторінка</a></li>
    <li><a href="{% url 'articles-list' %}">Всі Публікації</a></li>
    <div>
        <h3>
            {{ item.title }}
        </h3>
        <h5>
            {{ item.pub_date|date:"d E Y"|safe|linebreaks }}
        </h5>
    </div>
    <div>
        {{ item.description|escape|safe }}

        {% if item.images.all %}
        {% include 'fotorama.html' with images=images %}
        {% endif %}

    </div>
    <div class='clearfix'></div>
</div>
{% endspaceless %}
{% endblock %}

</body>
</html>