{% spaceless %}
    {% load static %}

    {% block head %}
        <!-- jQuery 1.8 or later, 33 KB -->
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <!-- Fotorama from CDNJS, 19 KB -->
        <link	href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.min.js"></script>
    {% endblock %}
    <div class="fotorama">
        {% for image in images %}
            <img src='{{ image.url }}' alt="{{ image.description }}" data-caption="{{ image.description }}">
        {% endfor %}
    </div>
{% endspaceless %}
